<div class="card" data-folder="">
    <div class="row no-gutters">
        <div class="col-auto thumbnail-container">
            <img src="" alt="" class="img-fluid card-thumbnail" style="width: 64px;">
        </div>
        <div class="col main-content-container">
            <div class="card-block px-2">
                <div class="row justify-content-around">
                    <div class="col">
                        <textarea class="card-title readonly-mode w-100" rows="1" readonly required></textarea>
                    </div>
                    <div class="col-auto" style="padding: 0;">
                        <div class="edit-mode-button-panel">
                            <button class="card-cancel-button card-button clickable">Cancel</button>
                            <button class="card-save-button card-button clickable">Save</button>
                        </div>
                    </div>
                    <div style="position: relative; width: 0; height: 0;" class="col-auto">
                        <div class="readonly-mode-button-panel">
                            <button class="card-edit-button card-button clickable"><i class="bi bi-pencil"></i>
                                Edit</button>
                            <button class="card-delete-button card-button clickable"><i
                                    class="bi bi-trash"></i></button>
                        </div>
                    </div>
                </div>
                <textarea class="card-description readonly-mode w-100" rows="1" readonly></textarea>
            </div>
        </div>
    </div>

    <div class="card-footer-custom w-100">
        <div class="row">
            <div class="col">
                <input class="card-url-input" value="">
            </div>
            <div class="col-auto">
                <p class="card-domain-display-text"></p>
                <span style="font-size: small;">
                    •
                </span> 
                <span class="card-folder-display"></span>
                <select class="card-folder-select"></select>
                <span style="font-size: small;">
                    •
                </span>
                <p class="card-date-added"></p>
            </div>
        </div>
    </div>
    <a href="" target="_blank" class="card-main-link clickable"></a>
</div>